<style>

    fieldset {
        border: thin solid #ccc;
        border-radius: 4px;
        padding: 20px;
        padding-left: 40px;
        background: #fbfbfb;
    }

    legend {
        color: #678;
    }

    .form-control {
        width: 95%;
    }

    label small {
        color: #678 !important;
    }

    span.req {
        color: maroon;
        font-size: 112%;
    }

    .dateOfBirthPicker {
        background-color: #fff !important;
    }
</style>

<h2 class="page-header">User registration</h2>

<div class="container" ng-controller="userRegistrationController" ng-init="init()"> <!---->
    <div class="row">
        <div class="col-md-6">
            <form method="post" id="fileForm" role="form">
                <fieldset>
                    <legend class="text-center">Complete the form to register. <span class="req"><small> required *</small></span>
                    </legend>

                    <div class="form-group">
                        <label for="firstName"><span class="req">* </span> First name: </label>
                        <input class="form-control" type="text" id="firstName"
                               ng-model="user.firstName"
                               onkeyup="validateName(this)"
                               required/>
                        <div id="errFirst"></div>
                    </div>

                    <div class="form-group">
                        <label for="lastName"> Last name: </label>
                        <input class="form-control" type="text" id="lastName"
                               ng-model="user.lastName"
                               onkeyup="validateText(this)"
                               placeholder=""/>
                        <div id="errLast"></div>
                    </div>

                    <div class="form-group">
                        <label for="email"><span class="req">* </span> Email Address: </label>
                        <input class="form-control" type="text" id="email"
                               ng-model="user.email"
                               onchange="validateEmail(this.value);" placeholder="please enter a valid email address"
                               required/>
                        <div class="status" id="status"></div>
                    </div>

                    <div class="form-group">
                        <label for="phone"><span class="req">* </span> Phone Number: </label>
                        <small><b> e.g:
                            <smaller> XXX-XXX-XXXX or XXX.XXX.XXXX or XXX XXX XXXX</smaller>
                        </b></small>
                        <input type="text" id="phone" class="form-control phone"
                               ng-model="user.phone"
                               maxlength="28" onkeyup="validatePhone(this);"
                               placeholder="please enter a valid phone number" required/>
                        <div class="phone" id="phoneMessage"></div>
                    </div>

                    <div class="form-group">
                        <label for="address">Address: </label>
                        <input type="text" id="address" class="form-control phone"
                               ng-model="user.address"
                               maxlength="28" placeholder="please enter your address"/>
                        <div class="status" id="addressStatus"></div>
                    </div>

                    <div class="form-group">
                        <label for="dateOfBirth"><span class="req">* </span> Date of birth: </label>
                        <div class='input-group date' id='datetimepicker1'>
                            <input type="text" id="dateOfBirth" class="form-control dateOfBirthPicker" readonly="true"
                                   ng-model="user.dateOfBirth"
                                   required/>
                            <div class="statusDateOfBirth" id="statusDateOfBirth"></div>
                            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                            <input type="text" style="display: none;" id="dob">
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="comments"> Comments: </label>
                        <textarea type="text" id="comments" class="form-control phone"
                                  ng-model="user.comments"
                                  maxlength="28" onkeyup="validateText(this);" placeholder="add a comment"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="gender"><span class="req">* </span> Gender: </label>

                        <!--                        <select class="form-control input-medium" id="gender" ng-model="user.gender" required>
                                                    <option value="" selected disabled>Select gender</option>
                                                    <option value="m">Male</option>
                                                    <option value="f">Female</option>
                                                </select>-->

                        <select id="gender"
                                ng-init="selectedGenderOption = genderOptions[0].value"
                                ng-model="selectedGenderOption"
                                ng-options="option.value as option.name for option in genderOptions">
                        </select>

                    </div>

                    <div class="form-group">
                        <input type="button" class="btn btn-success" ng-click="addUser()" value="Register">
                    </div>

                </fieldset>
            </form><!-- ends register form -->
        </div><!-- ends col-6 -->

        <div class="col-md-6"></div>

    </div>
</div>