<style>

    fieldset {
        border: thin solid #ccc;
        border-radius: 4px;
        padding: 20px;
        padding-left: 40px;
        background: #fbfbfb;
    }

    legend {
        color: #678;
    }

    .form-control {
        width: 95%;
    }

    label small {
        color: #678 !important;
    }

    span.req {
        color: maroon;
        font-size: 112%;
    }

    .dateOfBirthPicker {
        background-color: #fff !important;
    }
</style>

<h2 class="page-header">User registration</h2>

<div class="container" ng-controller="userRegistrationController" ng-init="init()"> <!---->
    <div class="row">
        <div class="col-md-6">
            <form action="" method="post" id="fileForm" role="form">
                <fieldset>
                    <legend class="text-center">Complete the form to register. <span class="req"><small> required *</small></span>
                    </legend>

                    <div class="form-group">
                        <label for="firstname"><span class="req">* </span> First name: </label>
                        <input class="form-control" type="text" id="firstname"
                               ng-model="user.firstName"
                               onkeyup="validateText(this)"
                               required/>
                        <div id="errFirst"></div>
                    </div>

                    <div class="form-group">
                        <label for="lastname"> Last name: </label>
                        <input class="form-control" type="text" id="lastname"
                               ng-model="user.lastName"
                               onkeyup="validateText(this)"
                               placeholder=""/>
                        <div id="errLast"></div>
                    </div>

                    <div class="form-group">
                        <label for="email"><span class="req">* </span> Email Address: </label>
                        <input class="form-control" type="text" id="email"
                               ng-model="user.email"
                               onchange="validateEmail(this.value);" placeholder="please enter a valid email address"
                               required/>
                        <div class="status" id="status"></div>
                    </div>

                    <div class="form-group">
                        <label for="phone"><span class="req">* </span> Phone Number: </label>
                        <input type="text" id="phone" class="form-control phone"
                               ng-model="user.phone"
                               maxlength="28" onkeyup="validatePhone(this);"
                               placeholder="please enter a valid phone number" required/>
                    </div>

                    <div class="form-group">
                        <label for="address">Address: </label>
                        <input type="text" id="address" class="form-control phone"
                               ng-model="user.address"
                               maxlength="28" onkeyup="validateAddress(this);" placeholder="please enter your address"/>
                        <div class="status" id="addressStatus"></div>
                    </div>

                    <div class="form-group">
                        <label for="dateOfBirth"><span class="req">* </span> Date of birth: </label>
                        <div class='input-group date' id='datetimepicker1'>
                            <input type="text" id="dateOfBirth" class="form-control dateOfBirthPicker" readonly="true"
                                   ng-model="user.dateOfBirth"
                                   required/>
                            <div class="statusDateOfBirth" id="statusDateOfBirth"></div>
                            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="comments"> Comments: </label>
                        <textarea type="text" id="comments" class="form-control phone"
                                  ng-model="user.comments"
                                  maxlength="28" onkeyup="validateText(this);" placeholder="add a comment"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="gender"><span class="req">* </span> Gender: </label>

                        <select class="form-control input-medium" id="gender" ng-model="user.gender" required>
                            <option value="" selected disabled hidden>Gender</option>
                            <option value="m">Male</option>
                            <option value="f">Female</option>
                        </select>
                    </div>


                    <div class="form-group">

                        <input type="hidden" value="" name="dateregistered">
                        <input type="hidden" value="0" name="activate"/>
                        <hr>

                        <input type="checkbox" required name="terms"
                               onchange="this.setCustomValidity(validity.valueMissing ? 'Please indicate that you accept the Terms and Conditions' : '');"
                               id="field_terms">
                        <label>I agree with the <a href="#"
                                                   title="You may read our terms and conditions by clicking on this link">terms
                            and conditions</a> for Registration.
                        </label>
                        <span class="req">* </span>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-success" ng-click="addUser()">Register</button> <!--name="submit_reg"-->
                    </div>

                </fieldset>
            </form><!-- ends register form -->

            <script type="text/javascript">
                document.getElementById("field_terms").setCustomValidity("Please indicate that you accept the Terms and Conditions");
            </script>
        </div><!-- ends col-6 -->

        <div class="col-md-6"></div>

    </div>
</div>

<script>
    $(function () {
        $("#dateOfBirth").datepicker({
            defaultDate: new Date('1998/01/01'),
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            minDate: new Date('1950/01/01'),
            maxDate: '-1d',
            onSelect: function (dateText, inst) {
                validateDateOfBirth(dateText);
            }
        })
    });
</script>